<ActionBar title="Tell us about your trip" class="action-bar"></ActionBar>

<ScrollView>
        <FlexboxLayout flexDirection="column">
                <RadDataForm (propertyValidate)="onPropertyValidate($event)"
                (propertyValidated)="onPropertyValidated($event)"
                [source]="form"
                height="400"
                [metadata]="formMetadata">
                </RadDataForm>
                <Button text="Search Trips" class="btn btn-primary"
                 (tap)="goSearchTrip()"></Button>
        </FlexboxLayout>
</ScrollView>  


