<ActionBar title="Tell us about your trip" class="action-bar"></ActionBar>

<ScrollView>
        <FlexboxLayout flexDirection="column">

                <RadDataForm (propertyValidate)="onPropertyValidate($event)"
                (propertyValidated)="onPropertyValidated($event)"
                [source]="form"
                height="400"
                [metadata]="formMetadata">
                </RadDataForm>
                <Button class="btn btn-primary btn-fa-icon"
                 (tap)="goSearchTrip()">
                        <FormattedString>
                                <Span text="&#xf002;&nbsp;" fontFamily="FontAwesome"></Span>
                                <Span text="Search Trips" ></Span>
                        </FormattedString>
                </Button>
        </FlexboxLayout>
</ScrollView>  


