@import 'app-common';
@import '~nativescript-theme-core/scss/platforms/index.ios';

.search-result {
  padding-top: 200px;
  margin-top: 200px;
}

.hotel-detail {
  padding-top: 200px;
  margin-top: 200px;
}
